<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058123517066-9rohggcgu4imr4ni1ubt02csvbc2nen2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058123517066-9rohggcgu4imr4ni1ubt02csvbc2nen2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058123517066-ar5cgfq7nv2p6jqnoc41ghblrom9tigj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA7GehyjWJeapklICb3-JcpZ58EkFwVjvI</string>
	<key>GCM_SENDER_ID</key>
	<string>1058123517066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.novelty.hr</string>
	<key>PROJECT_ID</key>
	<string>novelty-ems-396605</string>
	<key>STORAGE_BUCKET</key>
	<string>novelty-ems-396605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058123517066:ios:9acb3b941f3cf801f93173</string>
</dict>
</plist>